required:
  - name
  - urn
  - title
  - provider
  - consumers
type: object
properties:
  name:
    type: string
    description: |-
      サービスの名前。URN の一部として使用される。
      ただし、先頭がハイフンであってはならない。
    example: authz-rbac
  hub:
    type: string
    readOnly: true
    format: urn
    description: |-
      サービスが接続される SPN Hub のURN。
    example: urn:chip-in:network:example-realm:hub1
  urn:
    type: string
    readOnly: true
    description: |-
      サービスのURN。URNは、サービスを一意に識別するための文字列で、以下の形式で構成される。<br/>
      urn:chip-in:service:{realm}:{hubName}:{name}
    example: urn:chip-in:service:example-realm:hub1:authz-rbac
  title:
    type: string
    description: |-
      サービスの日本語名称です。URN の一部として使用される。
      文字列は日本語を含むことができる。
    example: CMSシステム認可サービス
  description:
    type: string
    description: |-
      サービスの説明文です。URN の一部として使用される。
      文字列は日本語を含むことができる。
    example: CMSシステムの認可サービスです。
  realm:
    type: string
    readOnly: true
    format: urn
    description: |-
      このサービスが属するレルムのURN。
  availabilityManagement:
    type: object
    required:
      - clusterManagerUrn
      - serviceId
    description: |-
      コンテナクラスタ内でマイクロサービスのスケジュール起動、オンデマンド起動を行うためのパラメータ
    properties:
      clusterManagerUrn:
        type: string
        description: このサービスを起動できるコンテナクラスタのクラスタマネージャサービスの URN
      serviceId:
        type: string
        description: クラスタ内でのマイクロサービスのID
      startAt:
        type: string
        description: 定時起動する場合の起動スケジュールの CRON 式
        example: 0 22 ? * SUN-THU *
      stopAt:
        type: string
        description: 定時停止する場合の起動スケジュールの CRON 式
        example: 0 9 ? * MON-FRI *
      ondemandStart:
        type: boolean
        description: オンデマンド起動とするか否か。デフォルトは true
      idleTimeout:
        type: integer
        description: 指定された秒数通信がない状態が続くとサービスをシャットダウンする。 ondemandStart が true の場合のみ有効
      image:
        type: string
        description: コンテナイメージのパスとタグ
      command:
        type: array
        description: コンテナの起動時に実行するコマンドとその引数のリスト。
        items:
          type: string
      env:
        type: array
        description: コンテナの環境変数のリスト。
        items:
          type: object
          required:
            - name
            - value
          properties:
            name:
              type: string
              description: 環境変数の名前。
            value:
              type: string
              description: 環境変数の値。
      mountPoints:
        type: array
        description: コンテナのマウントポイントのリスト。
        items:
          type: object
          required:
            - volumeSize
            - target
          properties:
            volumeSize:
              type: integer
              maximum: 100
              minimum: 1
              description: マウントするボリュームのサイズ（GiB単位）
            target:
              type: string
              description: コンテナ側のパス。
    additionalProperties: false
  singleton:
    description: |-
      このサービスがシングルトンであるかどうかを示すフラグ。デフォルトは false です。
      シングルトンである場合、SPN内で常に1つのインスタンスのみが稼働します。
      シングルトンでない場合は、複数のインスタンスが稼働する可能性があり、複数インスタンスがある場合は接続ごとに負荷分散されます。
    type: boolean
    example: true
  provider:
    type: array
    description: |-
      サービスの提供者の識別子（クライアント証明書の subject の値）です。<br/>
      urn:chip-in:end-point:{zone}:{domain}:{name}
    items:
      type: string
      format: urn
    example:
      - oidc-idp-1
      - oidc-idp-2
  consumers:
    type: array
    description: |-
      サービスの消費者の識別子（クライアント証明書の subject の値）のリスト。URNは、<br/>
      urn:chip-in:end-point:{zone}:{domain}:{name}
    items:
      type: string
      format: urn
    example:
      - urn:chip-in:end-point:example-zone:example.com:api-gateway
